<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<body>
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2>Novo artigo</h2>
            </div>
            <div class="card-body">
                <label>Artigo:</label>
                <form method="POST" action="/admin/articles/saveArticle">
                    <input class="form-control" type="text" name="title" placeholder="Defina o título do artigo">
                    <br>
                    <textarea rows="10" cols="5" id="article" class="form-control" name="body" placeholder="Escreva aqui o seu artigo"></textarea>
                    <br>
                    <label id="lbl-categ">Categoria</label>
                    <select name="categoryId" class="form-control">
                      <% categories.forEach((category)=>{ %> 
                        <option value="<%= category.id %>"><%= category.title %></option>
                    <% }) %>
                    </select>
                    <button id="btn-cadastrar" class="btn btn-success">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</body>

<%- include('../../partials/footer.ejs') %>
<%- include('../../partials/tinymce.ejs') %>
<%- include('../../partials/configtiny.ejs') %>