<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<body>
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h2>Alterar senha do usuário</h2>
            </div>
            <div class="card-body">
                <form method="POST" action="/admin/users/updateUser">
                    <input class="form-control" type="email" name="email" value="<%= user.email %>">
                    <input type="hidden" name="id" value="<%= user.id %>">
                    <input class="form-control mt-3" type="password" name="password" placeholder="Digite o seu password">
                    <button class="btn btn-primary mt-3 btn-block" type="submit" name="btn-cadastrar">Alterar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include('../../partials/footer.ejs') %>